{% extends 'base.html' %}

{% block title %}
    Invoices
{% endblock %}


{% block content %}
<div class="container">
    <h2 class="content-paragraph">Invoices list:</h2>
    {% if invoices %}
            <table class="table">
                <thead class="table-dark">
                    <td>#</td>
                    <td>Type</td>
                    <td>Product Count</td>
                    <td>Total</td>
                    <td>Company</td>
                    <td>Date add</td>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <td>{{ invoice.id }}</td>
                    <td>{{ invoice.type.name }}</td>
                    <td>{{ invoice.product_count }}</td>
                    <td>{{ invoice.total }}</td>
                    <td>{{ invoice.company.name }}</td>
                    <td>{{ invoice.date }}</td>
                </tbody>
                {% endfor %}
            </table>
    {% else %}
        <h2>The list of invoices is empty</h2>
    {% endif %}
</div>

{% endblock %}