{% extends 'base.html' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">{{ product.name }}</div>
      <div class="card-body">
          <h5 class="card-title">Price: {{ product.price }}</h5>
          <h5 class="card-title">Product count: {{ product.product_count }}</h5>
          <p class="card-text">Company: {{ product.company.name }}</p>
          <a href="{{ url_for('main') }}" class="btn btn-outline-secondary">Back</a>
          <a href="{{ url_for('delete_product', product_id=product.id) }}" class="btn btn-outline-danger">Delete product</a>
          <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-outline-secondary">Edit</a>
      </div>
    </div>
{% endblock %}